<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        console.log(navigator.userAgent);
    </script>
</head>
<body>
    <h1>System requirement!!!</h1>
    <form action = "http://localhost:5000/get" method = "POST">
        <p>Game <input type = "text" name = "search" id="search"/></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
</body>
</html>